body{

margin:0;
font-family:Segoe UI;
background:#0b1626;
color:white;

background-image:
linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);

background-size:40px 40px;

}

section{
padding:80px 10%;
}

h1{
color:#00d4ff;
margin-bottom:20px;
}

span{
color:#00d4ff;
font-weight:bold;
}

.hero-container{
display:flex;
align-items:center;
gap:60px;
}

.hero-icon{

font-size:90px;
color:#00d4ff;

border-radius:50%;
padding:40px;

background:#11233c;

box-shadow:0 0 40px rgba(0,212,255,0.3);

}

.area-box{

margin-top:20px;

padding:20px;

background:#162a42;

border-radius:10px;

}

.badges{
display:flex;
gap:15px;
margin-top:15px;
}

.badge{

padding:10px 20px;

background:#0f2138;

border-radius:8px;

color:#00d4ff;

font-weight:600;

}

.cards{

margin-top:40px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:30px;

}

.card{

background:#162a42;

padding:30px;

border-radius:12px;

text-align:center;

transition:0.3s;

border:1px solid rgba(0,212,255,0.2);

}

.card i{

font-size:40px;

color:#00d4ff;

margin-bottom:10px;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 0 20px rgba(0,212,255,0.4);

}

.cards2{

margin-top:40px;

display:flex;

gap:30px;

flex-wrap:wrap;

}

.cards2 .card{

width:180px;

}